ansible==4.4.0
ansible-core==2.11.3
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.7
click==8.0.3
cryptography==3.4.7
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
newrelic==7.2.4.171
packaging==21.0
pycparser==2.20
pyparsing==2.4.7
python-http-client==3.3.3
PyYAML==5.4.1
requests==2.26.0
resolvelib==0.5.4
sendgrid==6.9.0
starkbank-ecdsa==1.1.1
urllib3==1.26.7
Werkzeug==2.0.2
